@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Jura-Bold;
    src: url(../fonts/Jura/static/Jura-Bold.ttf);
}

@font-face {
    font-family: Jura-Regular;
    src: url(../fonts/Jura/static/Jura-Regular.ttf);
}

@font-face {
    font-family: Judson-Bold;
    src: url(../fonts/Judson/Judson-Bold.ttf);
}

.cursorEffect {
    cursor: pointer;
}

.leftMargin {
    margin-left: 7%;
}

.marginPosition {
    margin-left: 6.5%;
    margin-right: 6.5%;
}

.evolutionText {
    font-family: Jura-Bold; 
    padding-top: 3%; 
    padding-left: 5%; 
    padding-right: 5%;
}

.juraBold {
    font-family: Jura-Bold; 
}

.juraRegular {
    font-family: Jura-Regular;
}

.judsonBold {
    font-family: Judson-Bold;
}

.canvasBG {
    margin-left: 18%;
    margin-right: 18%;
}

.bug {
    background-image: url(../assets/pokemonbugbg.png);
}

.dark {
    background-image: url(../assets/pokemondarkbg.png);
}

.dragon {
    background-image: url(../assets/pokemondragonbg.png);
}

.electric {
    background-image: url(../assets/pokemonelectricbg.png);
}

.fighting {
    background-image: url(../assets/pokemonfightingbg.png);
}

.fire {
    background-image: url(../assets/pokemonfirebg.png);
}

.flying {
    background-image: url(../assets/pokemonflyingbg.png);
}

.ghost {
    background-image: url(../assets/pokemonghostbg.png);
}

.grass {
    background-image: url(../assets/pokemongrassbg.png);
}

.ground {
    background-image: url(../assets/pokemongroundbg.png);
}

.ice {
    background-image: url(../assets/pokemonicebg.png);
}

.normal {
    background-image: url(../assets/pokemonnormalbg.png);
}

.poison {
    background-image: url(../assets/pokemonpoisonbg.png);
}

.psychic {
    background-image: url(../assets/pokemonpsychicbg.png);
}

.rock {
    background-image: url(../assets/pokemonrockbg.png);
}

.steel {
    background-image: url(../assets/pokemonsteelbg.png);
}

.water {
    background-image: url(../assets/pokemonwaterbg.png);
}

.joe:hover {
    color: white;
    box-shadow: 0 10px 20px rgba(145, 92, 182, .4);
}